:root {
    --font-size-title-: 24px;
    --font-text--: 14px
}

:root{
    --font-mobile-text-: 13px;
    --font-mobile-title-: 20px; 
}

@media(max-width: 768px) {


    main {
        width: 530px;
    }

    .title h1 {
        font-size: 28px;
    }

    .container-principal .image img {
        width: 480px;
        padding: 10px;
        margin-top: 20px;
    }



    .title .paragrafo {
        font-size: var(--font-text--)
    }

    .preparation .preparation-time {
        font-size: 16px;
    }

    .color-square {
        font-size: var(--font-text--)
    }

    .ingredients .ingredients-title {
        font-size: var(--font-size-title-);
    }

    .ingredients .items {
        font-size: 12px;
    }

    .instructions .instructions-title {
        font-size: var(--font-size-title-);

    }

    .instructions .passos {
        font-size: 12px;
    }

    .nutrition-title {
        font-size: var(--font-size-title-);

    }

    /* .nutrition {} */


    .lista {
        font-size: var(--font-text--)
    }

}









@media(max-width: 515px){
    main {
        width: 290px;
        margin-top: 0;
        margin-bottom: 0;
        
    }

    .title h1 {
        font-size: 22px;
        margin-bottom: 15px;
    }

    .container-principal .image img {
        width: 240px;
        border-radius: 0%;
        
    }



    .title .paragrafo {
        font-size: var(--font-mobile-text-);
        /* font-size: 13px; */
    }

    .preparation .preparation-time {
        /* font-size: 18px; */
        font-size: 16px;
        
    }

    .color-square {
        font-size: 12px;
    }

    .ingredients .ingredients-title {
        font-size: var(--font-mobile-title-)
    }

    .ingredients .items {
        font-size: var(--font-mobile-text-)
    }

    .instructions .instructions-title {
        font-size: var(--font-mobile-title-);

    }

    .instructions .passos {
        font-size: var(--font-mobile-text-)
    }

    .nutrition-title {
        font-size: var(--font-mobile-title-);

    }

    .nutrition {
        padding: 5px;
    }


    .lista {
        font-size: var(--font-mobile-text-);
        
    }

    .lista .info{
        width: 150%;
        padding: 5px;
    }


}